.ChatsContainer{
    width:35vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    border:2px solid grey;
    display:flex;
    flex-direction: column;
    padding-top: 5px;
}

.ChatsContainerHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ChatsContainerScroll{
    overflow-y: scroll;
    overflow-x:hidden;
    display:flex;
    flex-direction: column;
    height: 80vh;
    gap:5px;
}

.ChatClick{
    background-color: #f2f2f2;
    padding:4px;
    margin: 0 5px;
    height: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.ChatClick:hover{
    background-color: #0684de;
    color:white;
}

.ChatClick, .active{
    background-color: #0684de;
    color:white;
}

.Chats_Footer{
    border-top: 2px solid grey;
    margin-top: auto;
    font-size: 14px;
    /* height: 32px; */
    overflow: hidden;
}


